body {
  margin: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #8f74da;
  background-color: #2a2a2e;
}

.errors-block {
  background-color: #313132;
  min-height: 20px;
  height: fit-content;
  overflow: auto;
  width: 50%;
  float: right;
  white-space: initial;
}

.errors-messages {
  height: fit-content;
  width: 100%;
  overflow: auto;
  white-space: initial;
}

.code-block {
  background-color: #313132;
  min-height: 20px;
  height: fit-content;
  overflow: auto;
  width: 50%;
  float: left;
  white-space: nowrap;
}

.input-wrap {
  display: inline;
  height: fit-content;
  overflow: auto;
  white-space: nowrap;
}

.row-count {
  border: none;
  border-right: solid 0.5px wheat;
  font-family: inherit;
  font-size: inherit;
  left: 10px;
  padding: 1px 6px;
  box-sizing: border-box;
  white-space: nowrap;
  display: inline-block;
}

.row-input {
  margin: none;
  background-color: #2a2a2e;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
  box-sizing: border-box;
  white-space: nowrap;
  display: inline-block;
  width: 90%;
  min-height: 100%;

}

.row-input:focus {
  outline: none;
  background-color: #18181b;
}

.easter-img {
  height: 43px;
  position: absolute;
  left: 95%;
  top: 90%;
  z-index: 2;
}